In [ ]:
!pip3 install requests
!pip3 install beautifulsoup4


import requests as rq
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
#парсим отзывы на фильмы Вайтити (в качестве режиссёра) # отзывов собрала больше, сюда перенесла некоторые ячейки для примера
tw_url1=rq.get('https://www.imdb.com/title/tt3501632/reviews?ref_=tt_urv')
soup=BeautifulSoup(tw_url1.text,'lxml')
for tw_reviews1 in soup.find_all('div',attrs={'class':'text show-more__control'}):
  print(tw_reviews1.text)

In [ ]:
tw_url2=rq.get('https://www.imdb.com/title/tt11000902/reviews?spoiler=hide&sort=helpfulnessScore&dir=desc&ratingFilter=0')
soup=BeautifulSoup(tw_url2.text,'lxml')
for tw_reviews2 in soup.find_all('div',attrs={'class':'text show-more__control'}):
  print(tw_reviews2.text)

In [ ]:
tw_url3=rq.get('https://www.imdb.com/title/tt11000902/reviews?spoiler=hide&sort=helpfulnessScore&dir=desc&ratingFilter=0')
soup=BeautifulSoup(tw_url3.text,'lxml')
for tw_reviews3 in soup.find_all('div',attrs={'class':'text show-more__control'}):
  print(tw_reviews3.text)

In [ ]:
tw_url4=rq.get('https://www.imdb.com/title/tt0090756/reviews?spoiler=hide&sort=helpfulnessScore&dir=desc&ratingFilter=0')
soup=BeautifulSoup(tw_url4.text,'lxml')
for tw_reviews4 in soup.find_all('div',attrs={'class':'text show-more__control'}):
  print(tw_reviews4.text)

In [ ]:
#парсим на фильмы Линча (в качестве режиссёра) # отзывов собрала больше, сюда перенесла некоторые ячейки для примера  
dl_url5=rq.get('https://www.imdb.com/title/tt0060984/reviews?ref_=tt_urv')
soup=BeautifulSoup(dl_url5.text,'lxml')
for dl_reviews5 in soup.find_all('div',attrs={'class':'text show-more__control'}):
  print(dl_reviews5.text)

In [ ]:
dl_url1=rq.get('https://www.rottentomatoes.com/m/mulholland_dr/reviews?intcmp=rt-scorecard_tomatometer-reviews')
soup=BeautifulSoup(dl_url1.text,'lxml')
for dl_reviews1 in soup.find_all('div',attrs={'class':'the_review'}):
  print(dl_reviews1.text)

In [ ]:
dl_url2=rq.get('https://www.rottentomatoes.com/m/zelly_and_me/reviews?intcmp=rt-scorecard_tomatometer-reviews')
soup=BeautifulSoup(dl_url2.text,'lxml')
for dl_reviews2 in soup.find_all('div',attrs={'class':'the_review'}):
  print(dl_reviews2.text)

In [ ]:
dl_url3=rq.get('https://www.rottentomatoes.com/m/zelly_and_me/reviews?type=user')
soup=BeautifulSoup(dl_url3.text,'lxml')
for dl_reviews3 in soup.find_all('p',attrs={'class':'audience-reviews__review--mobile js-review-text clamp clamp-4 js-clamp'}):
  print(dl_reviews3.text)

In [ ]:
# импортируем библиотеки 
!pip3 -qq install yargy --progress-bar off
!pip3 -qq install pymorphy2 --progress-bar off

import sys
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
import string
import pymorphy2
from sklearn.feature_extraction.text import TfidfVectorizer
import re

nltk.download("punkt", quiet=True)
nltk.download("stopwords", quiet=True)

In [ ]:
# подргужаем текстовые документы с отзывами в тетрадку
from google.colab import files
files.upload()

In [ ]:
!ls

In [4]:
# собираем в таблицу отзывы на фильмы Т. В.

df = pd.read_csv('tw.txt', delimiter = "\n")

df.to_csv('tw_datafr.csv')

In [5]:
tw_df = pd.read_csv('tw_datafr.csv', encoding='latin-1')

tw_df.insert(0,'v1',0)

tw_df

      v1  Unnamed: 0                           I want my 8 minutes back
0      0           0  I'd like to know who I have got to sue to get ...
1      0           1  The one thing that I can not figure out is jus...
2      0           2  I am personally insulted as a viewer and 48-Ho...
3      0           3  This film is another nail in the coffin of Coh...
4      0           4                                          Hilarious
...   ..         ...                                                ...
2860   0        2860  There is potential in the idea of a Nazi spoof...
2861   0        2861  There is no BUT!!!Everybody here is on point, ...
2862   0        2862  And that is not the only thing,... what a grea...
2863   0        2863              What a good way to make people think!
2864   0        2864  As a German, I loved everything about this mov...

[2865 rows x 3 columns]

In [6]:
tw_df = tw_df.drop(['Unnamed: 0'],axis=1)

tw_df = tw_df.rename(columns={"I want my 8 minutes back": "reviews"})


display(tw_df)

      v1                                            reviews
0      0  I'd like to know who I have got to sue to get ...
1      0  The one thing that I can not figure out is jus...
2      0  I am personally insulted as a viewer and 48-Ho...
3      0  This film is another nail in the coffin of Coh...
4      0                                          Hilarious
...   ..                                                ...
2860   0  There is potential in the idea of a Nazi spoof...
2861   0  There is no BUT!!!Everybody here is on point, ...
2862   0  And that is not the only thing,... what a grea...
2863   0              What a good way to make people think!
2864   0  As a German, I loved everything about this mov...

[2865 rows x 2 columns]

In [7]:
# собираем в таблицу отзывы на фильмы Д. Л.

df = pd.read_csv('dl.txt', delimiter = "\n")

df.to_csv('dl_datafr.csv')

In [8]:
dl_df = pd.read_csv('dl_datafr.csv', encoding='latin-1')

dl_df.insert(0,'v1',1)

dl_df

      v1  Unnamed: 0                                          DL movies
0      1           0  Okay, the thing is, this isn't a movie you can...
1      1           1  Lynch explains on the DVD that he was inspired...
2      1           2  I remember Lynch was once quoted as saying tha...
3      1           3  This first film from David Lynch is not really...
4      1           4  This is the film portion of a sculpture that h...
...   ..         ...                                                ...
1164   1        1164  Think Wizard of Oz...Set it in modern time. Ha...
1165   1        1165  You know you've arrived as a filmmaker when a ...
1166   1        1166  Small and intimate movie about the resiliency ...
1167   1        1167  Without trying to sound sexist i am the wrong ...
1168   1        1168  I love thsi film Very well acted. Wonderful fi...

[1169 rows x 3 columns]

In [9]:
dl_df = dl_df.drop(['Unnamed: 0'],axis=1)

dl_df = dl_df.rename(columns={"DL movies": "reviews"})


display(dl_df)

      v1                                            reviews
0      1  Okay, the thing is, this isn't a movie you can...
1      1  Lynch explains on the DVD that he was inspired...
2      1  I remember Lynch was once quoted as saying tha...
3      1  This first film from David Lynch is not really...
4      1  This is the film portion of a sculpture that h...
...   ..                                                ...
1164   1  Think Wizard of Oz...Set it in modern time. Ha...
1165   1  You know you've arrived as a filmmaker when a ...
1166   1  Small and intimate movie about the resiliency ...
1167   1  Without trying to sound sexist i am the wrong ...
1168   1  I love thsi film Very well acted. Wonderful fi...

[1169 rows x 2 columns]

In [10]:
# собираем оба датафрейма в один большой

all_rw=tw_df.append(dl_df)

# all_rw = pd.merge(tw_df, dl_df) 

all_rw

# all_rw.to_csv('all_rw.csv')

      v1                                            reviews
0      0  I'd like to know who I have got to sue to get ...
1      0  The one thing that I can not figure out is jus...
2      0  I am personally insulted as a viewer and 48-Ho...
3      0  This film is another nail in the coffin of Coh...
4      0                                          Hilarious
...   ..                                                ...
1164   1  Think Wizard of Oz...Set it in modern time. Ha...
1165   1  You know you've arrived as a filmmaker when a ...
1166   1  Small and intimate movie about the resiliency ...
1167   1  Without trying to sound sexist i am the wrong ...
1168   1  I love thsi film Very well acted. Wonderful fi...

[4034 rows x 2 columns]

In [11]:
# перемешаем строки
from sklearn.utils import shuffle

all_rw=shuffle(all_rw)

all_rw

all_rw.to_csv('all_rw_shuf.csv')

In [12]:
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from sklearn import feature_extraction, model_selection, naive_bayes, metrics, svm

# from IPython.display import Image
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [21]:
# избавимся от шума
from nltk.corpus import stopwords
stop = stopwords.words('english')
pat = r'\d+'.format('|'.join(stop))
pat1=r'[^\w\s]'.format('|'.join(stop))
pat2=r'\n'

all_revs=pd.read_csv('all_rw_shuf.csv')
all_revs['reviews_clean'] = all_revs['reviews'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
all_revs['reviews_clean'] = all_revs['reviews_clean'].str.replace(pat, '')
all_revs['reviews_clean'] = all_revs['reviews_clean'].str.replace(pat1, '')
all_revs['reviews_clean'] = all_revs['reviews_clean'].str.replace(pat2, '')
all_revs['reviews_clean'] = all_revs['reviews_clean'].str.lower()

print(all_revs)

      Unnamed: 0  v1                                            reviews  \
0            875   0  This mockumentary about four vampires sharing ...
1            581   1  Farnsworth's easy, twinkle eyed charm is a win...
2            609   0    A rare thing; an excellent slice of life movie.
3            999   0               We're werewolves, not swear-wolves!.
4           1158   1  It's violent, and entertaining at times. But I...
...          ...  ..                                                ...
4029        1271   0  What a lovely film. It is based on a very simp...
4030        1033   1  The grandmother who grows quickly out of a bul...
4031        2697   0  Whenever a show comes out, I don't do it on pe...
4032        2345   0                                         Majestical
4033        1117   0  Speaking of Hackneywood, this film further cor...

                                          reviews_clean
0     this mockumentary four vampires sharing house ...
1     farnsworths easy twinkle eyed charm winner way...
2               a rare thing excellent slice life movie
3                           were werewolves swearwolves
4     its violent entertaining times but i like davi...
...                                                 ...
4029  what lovely film it based simple premise mocku...
4030  the grandmother grows quickly bulb smiles some...
4031  whenever show comes out i person i watch scene...
4032                                         majestical
4033  speaking hackneywood film corroborates hackney...

[4034 rows x 4 columns]

In [22]:
all_revs = all_revs.drop(['reviews'],axis=1)
all_revs = all_revs.drop(['Unnamed: 0'],axis=1)

display(all_revs)

      v1                                      reviews_clean
0      0  this mockumentary four vampires sharing house ...
1      1  farnsworths easy twinkle eyed charm winner way...
2      0            a rare thing excellent slice life movie
3      0                        were werewolves swearwolves
4      1  its violent entertaining times but i like davi...
...   ..                                                ...
4029   0  what lovely film it based simple premise mocku...
4030   1  the grandmother grows quickly bulb smiles some...
4031   0  whenever show comes out i person i watch scene...
4032   0                                         majestical
4033   0  speaking hackneywood film corroborates hackney...

[4034 rows x 2 columns]

In [23]:
all_revs.to_csv('all_revs_clean.csv')

In [24]:
# начинаем применять модели
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [34]:
# сбалансируем классы
revs_balanced = all_revs[all_revs.v1 == 1].append(all_revs[all_revs.v1 == 0].sample(n=747))
revs_balanced.shape

(1916, 2)

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words="english")
X = vectorizer.fit_transform(revs_balanced['reviews_clean'])

In [37]:
# разделим на обучающую и тестовую выборки
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, revs_balanced["v1"], test_size=0.3, random_state=25)
print(X_train.shape, X_test.shape)

(1341, 15762) (575, 15762)

In [38]:
# БЭГГИНГ
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [39]:
tree_clf = DecisionTreeClassifier()
tree_clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [40]:
tree_y_pred = tree_clf.predict(X_test)
tree_y_pred

array([0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1])

In [41]:
# сравним, насколько предсказания нашего дерева совпали с настоящими лейблами
print(classification_report(y_test, tree_y_pred))

              precision    recall  f1-score   support

           0       0.82      0.87      0.85       235
           1       0.91      0.87      0.89       340

    accuracy                           0.87       575
   macro avg       0.86      0.87      0.87       575
weighted avg       0.87      0.87      0.87       575

In [42]:
# обучим Random Forest
from sklearn.ensemble import RandomForestClassifier 
forest = RandomForestClassifier(n_estimators=500, verbose=1)

In [43]:
forest.fit(X_train, y_train)

forest_y_pred = forest.predict(X_test)

print(classification_report(y_test, forest_y_pred))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:   13.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

              precision    recall  f1-score   support

           0       0.82      0.94      0.88       235
           1       0.96      0.86      0.91       340

    accuracy                           0.89       575
   macro avg       0.89      0.90      0.89       575
weighted avg       0.90      0.89      0.89       575

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.2s finished

In [45]:
# БУСТИНГ
from sklearn.ensemble import GradientBoostingClassifier

In [46]:
gb_clf = GradientBoostingClassifier(n_estimators=1000, random_state=10, verbose=1)

In [ ]:
gb_clf.fit(X_train, y_train)

In [50]:
gb_y_pred = gb_clf.predict(X_test)

In [51]:
# проверяем

print(classification_report(y_test, gb_y_pred))

# кажестя, сработал хуже, чем бэггинг (просел precision)

              precision    recall  f1-score   support

           0       0.77      0.94      0.85       235
           1       0.95      0.81      0.88       340

    accuracy                           0.86       575
   macro avg       0.86      0.88      0.86       575
weighted avg       0.88      0.86      0.87       575

In [ ]:
# обучим классификатор

gb_clf_es = GradientBoostingClassifier(n_iter_no_change=5, verbose=10)

gb_clf_es.fit(X_train, y_train)

In [54]:
es_y_pred = gb_clf_es.predict(X_test)

In [55]:
print(classification_report(y_test, es_y_pred))

              precision    recall  f1-score   support

           0       0.77      0.94      0.85       235
           1       0.95      0.81      0.87       340

    accuracy                           0.86       575
   macro avg       0.86      0.87      0.86       575
weighted avg       0.88      0.86      0.86       575

In [56]:
# определим уникальные слова для отзывов
revs_pop=pd.DataFrame(tree_clf.feature_importances_)

revs_pop["feature"] = vectorizer.get_feature_names()

In [57]:
revs_pop.nlargest(10,0)

# сравни алгоритмы, чтобы определить тот, который сработал лучше всего

              0     feature
8229   0.293983       lynch
8254   0.109014      lynchs
5579   0.037903       funny
14492  0.026854        twin
15144  0.022094     waititi
9055   0.016303  mulholland
15729  0.014216     zealand
12248  0.013274       sense
13249  0.013217       story
3798   0.010753  disturbing

In [58]:
# Random Forest
revs_pop2 = pd.DataFrame(forest.feature_importances_)

revs_pop2["feature"] = vectorizer.get_feature_names()

revs_pop2.nlargest(10,0)

              0  feature
8229   0.051364    lynch
3169   0.032186    david
8254   0.027608   lynchs
5579   0.013039    funny
15144  0.009575  waititi
15729  0.009168  zealand
5102   0.008954     film
13721  0.008653    taika
2411   0.008482   comedy
9005   0.008073    movie

In [59]:
# GradientBoostingClassifier
revs_pop3 = pd.DataFrame(gb_clf.feature_importances_)

revs_pop3["feature"] = vectorizer.get_feature_names()

revs_pop3.nlargest(10,0)

              0     feature
8229   0.321530       lynch
8254   0.110249      lynchs
5579   0.035426       funny
14492  0.021027        twin
15729  0.018352     zealand
15144  0.016778     waititi
13721  0.013336       taika
2411   0.012563      comedy
9055   0.011209  mulholland
11657  0.010823       ricky

In [60]:
# GradientBoostingClassifier + Early stopping

revs_pop4 = pd.DataFrame(gb_clf_es.feature_importances_)

revs_pop4["feature"] = vectorizer.get_feature_names()

revs_pop4.nlargest(10,0)

              0    feature
8229   0.431038      lynch
8254   0.154425     lynchs
5579   0.041279      funny
15729  0.027802    zealand
14492  0.027215       twin
15144  0.023659    waititi
11657  0.014058      ricky
6437   0.013910  hilarious
2411   0.013365     comedy
13721  0.013341      taika

In [ ]:
# лучшие результаты выдали модели GradientBoostingClassifier и GradientBoostingClassifier + Early stopping

In [63]:
# ЛИНЕЙНАЯ РЕГРЕССИЯ
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

In [91]:
revs_balanced2 = revs_balanced.drop('v1', axis=1)
X = revs_balanced2.values

display(X, X.shape)

array([['farnsworths easy twinkle eyed charm winner way finally films deceptive simplicity unabashed warmth make one lynchs artistically emotionally satisfying movies'],
       ['its violent entertaining times but i like david lynch i cant get movies they overthetop'],
       ['extremely beautiful cinematography combined genius storytelling amazing acting'],
       ...,
       ['fun funny quirky surprise'],
       ['childish jokes works fine'],
       ['it rare see comedy inventiveness blended brilliantly taste bizarre  yet downplayed weirdness real life actually touch']],
      dtype=object)

(1916, 1)

In [ ]:
revs_balanced

In [94]:
y = revs_balanced['v1'].values

display(y, y.shape)

array([1, 1, 1, ..., 0, 0, 0])

(1916,)

In [80]:
from sklearn.model_selection import train_test_split

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9)

In [96]:
regressor = LinearRegression() 

regressor

regressor.fit(X_train, y_train)

ValueError: ignored